
.GalleryItem-description {
  padding: 30px;
  vertical-align: center;
  background-color: white;
  padding-top: 5em;
}

.GalleryItem-image, .GalleryItem-description {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  border-radius: 10px;
}

.GalleryItem-likes, .GalleryItem-counter, .GalleryItem-delete {
  margin: 3px 1px 1em 1px;
}

.GalleryItem-button-wrapper {
  text-align: center;
}

.GalleryItem-wrapper {
  width: 500px;
  display: inline-block;
  margin: 10px;
}

.GalleryItem-likes {
  width: 59%;
}

.GalleryItem-counter {
  width: 30%;
}

/* .GalleryItem-delete {
} */