/* .GalleryItem {
} */


.GalleryItem-description {
  padding: 30px;
  vertical-align: center;
}

.GalleryItem-image, .GalleryItem-description {
  border: 1px solid black;
  height: 500px;
  width: 500px;
}

.GalleryItem-button, .GalleryItem-likes {
  width: 49.25%;
  margin: 2px 1px 1.5em 1px;
}

.GalleryItem-button-wrapper {
  text-align: center;
}

/* .GalleryItem-likes {
  color: white;
} */