/* .GalleryItem {
} */


.GalleryItem-description {
  padding: 10px;
}

.GalleryItem-image, .GalleryItem-description {
  border: 1px solid black;
  height: 500px;
  width: 500px;
}

.GalleryItem-button {
  width: 100%;
  margin-bottom: 1em;
}