.App {
  text-align: center;
  background-image: url("../../assets/background.png");
  font-family: 'opendyslexic', 'Georgia', Times, serif;
}

/* @import '../../../public/fonts/OpenDyslexiaWebFontKit/opendyslexic-regular-webfont.woff'; */


