.App-header {
  background-color: #1266F1;
  padding: 1em;
  color: white;
  text-align: left;

}

.App-header-title {
  font-size: 1.25em;
}

.App-header-subtitle {
  font-size: .85em;
}

.App-header-title, .App-header-subtitle {
  display: inline;
}
