.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  text-align: left;

}

.App-header-title {
  font-size: 1.5em;
}

.App-header-subtitle {
  font-size: .75em;
}

.App-header-title, .App-header-subtitle {
  display: inline;
}
